doctype html
html
  head
    meta(charset="utf-8")
    title Webpack App
  body
    h1 Hello world!
    h2 Tip: Check your console
    h1 Ahihi tôi là Điệp á
    h2 Tip: Check your
    button(id="button-1") Click me now hehe
    //- script.
    //-   if ("serviceWorker" in navigator) {
    //-     window.addEventListener("load", () => {
    //-       navigator.serviceWorker
    //-         .register("service-worker.js")
    //-         .then((registration) => {
    //-           console.log("Service Worker registered: ", registration);
    //-         })
    //-         .catch((registrationError) => {
    //-           console.error(
    //-             "Service Worker registration failed: ",
    //-             registrationError
    //-           );
    //-         });
    //-     });
    //-   }